<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="./styles.css" />
		<title>Cafe with a Vue</title>
	</head>
	<body>
		<div id="app" class="app">
			<h1>{{ restaurantName }}</h1>
			<p class="description">
				Bienvenue dans notre café {{ restaurantName }}! Nous sommes réputés pour
				notre pain et nos merveilleuses pâtisseries. Faites vous plaisir dès le
				matin ou avec un goûter réconfortant. Mais attention, vous verrez qu'il
				est difficile de s'arrêter.
			</p>

			<section class="simpleMenu">
				<h2>Menu</h2>
				<div class="simpleMenu-item">
				<div id ="app">

					<img
					    <a v-bind:href="item__image">{{ item.name }}</a>
						class="simpleMenu-item__image"
						src="https://via.placeholder.com/300x150"
						alt="{{ item.name }}"
					/>

				<div>
				          <ul>
                           <li v-for="item in simpleMenu">
						   <a v-bind:href="item.url">{{ item.name }} : {{ item.image }} : {{ item.quantity }}</a>
                           </li>
                           </ul>
					<script>
						function testStock(instock) {
                                                let result;
                                                if (instock > 0) {
                                                result = 'true';
                                               } else if(instock == 0 {
                                                result = 'false';
                                                 }
                                               return result;
                                                }
					</script>
                    <div id="app"                    
						<h3>Nom de l'article : {{item.name}}</h3>
						<h2> Articles disponibles :{{item.quantity}}</h2> 
						<p v-if = "items.inStock >=1 = true">Article en stock</p>
						<p v-else = "item.inStock == 0 = false">
						 En rupture de stock:</p>{{item.inStock}}
					<div>
							<label for="add-item-quantity">Quantité :</label>
							<input id="add-item-quantity" type="number" v-model="quantity"/>
					    <div id="app">	
							<button v-on:click="alert('addToShoppingCart')">Ajouter au panier d'achat ici !</button>
						</div>
					</div>
				</div>
			</section>

			<aside class="shopping-cart">
				<ul>
					<li v-for ="item in shopping-cart">
						{{item.name}} : {{item.image}} : {{item.inStock}} : {{item.quantity}}
					</li> 
				</ul>
				<h2>Panier d'achat: 0 articles{{addToShoppingCart}}</h2>
			</aside>

			<h2>Contactez nous</h2>
			<p>Adresse : {{ address }}</p>
			<p>Téléphone : {{ phone }}</p>
			<p>Email : {{ email }}</p>
			<p>Horaires :</p>
			<ul>
				<li>L-V: 06:00 à 16:00</li>
				<li>Samedi: 07:00 à 14:00</li>
				<li>Dimanche: 07:00 à 12:00</li>
			</ul>

			<footer class="footer">
				<p>Copyright {{ restaurantName }} 2020</p>
			</footer>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script>
			const app = new Vue({
				el: "#app",
				data: {
					address: "18 avenue du Beurre, Paris, France",
					email: "hello@cafewithavue.bakery",
					phone: "01 88 88 88 88",
					restaurantName: "La belle vue",
					simpleMenu: [
						{
							name: "Croissant",
							image: {
								source: "./images/croissant.jpg",
								alt: "Un croissant"
							},
							inStock: true,
							quantity: 1
						},
						{
							name: "Baguette de pain",
							image: {
								source: "./images/french-baguette.jpeg",
								alt: "Quatre baguettes de pain"
							},
							inStock: true,
							quantity: 1
						},
						{
							name: "Éclair",
							image: {
								source: "./images/eclair.jpg",
								alt: "Éclair au chocolat"
							},
							inStock: false,
							quantity: 1
						}
					]
				},
				computed: {
					addToShoppingCart() {
						let total = 0

						this.shopping-cart.forEach(item =>{
							total += item.instock
						})
						return total
					    },
				    },
			    }

					name(){
						return this.inStock
					}
                 methods: 
					copyright() {
							
						const currentYear = new Date().getFullYear()

						return `Copyright ${this.restaurantName} ${currentYear}`
					}
				}

			})
		</script>
	</body>
</html>

